* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    max-width: 600px;
    height: 80vh;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 10px;
    margin-bottom: 20px;
}

.message {
    background: #e4e6eb;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.message-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f0f2f5;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-input textarea {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    resize: none;
    font-size: 1em;
    margin-right: 10px;
    background: #ffffff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.message-input button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0084ff;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.message-input button:hover {
    background-color: #005bb5;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333333;
}

#loginForm {
    width: 100%;
}

#loginForm input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(138, 127, 127, 0.4);
    border-radius: 5px;
    font-size: 1em;
    background: #ffffff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#loginForm button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0084ff;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#loginForm button:hover {
    background-color: #005bb5;
}